.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.selection-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.line-selection, .font-selection, .style-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: fit-content;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  border: 2.5px solid #960e20;
  border-radius: 5px;
  padding: 16px;  
}

.image-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.image-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  bottom: 90%;
  left: 50%;
  right: 80%;
  width: 100%;
  height: 100%;
  
  transform: translate(-50%, -50%);
  color: rgb(10, 10, 10);
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  overflow: hidden;
  pointer-events: none;
}

.overlay-text span {
  overflow-wrap: center;
}

.font-list,
.StyleList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line-textfields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.line-textfield-row {
  display: flex;
  align-items: center;
  gap: 12px;
}


.Stencil {
  font-family: stencil; 
}
.Arial {
  font-family: Arial;
  font-size: 16px;
}
.Bradley {
  font-family: bradley hand;
  font-size: 16px;
}
.Lucida {
  font-family: lucida handwriting;
}
.Bold{ 
  font-weight: bold;
}
.Italic{
  font-style: italic;
}
.Underline{
  text-decoration: underline;
}